## Settings file was created by plugin TextureReplacer v1.0.0
## Plugin GUID: shaklin.TextureReplacer

[General]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enabled = true

